#ticketPrice {
  display: none;
}

#new-ticket {
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
}

#credits {
  font-size: 8px;

}

body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-color: #920112;
  color: #AAAAAA;
}

button {
  color: #000000;
}
